main {
	margin: 50px;
}

.img-fluid {
	height: 100%;
	width: 100%;
}

#wordBlock {
	height: 150px;
	background-color: darkgrey;
	font-size: 72px;
}

#guessed {
	height: 100px;
	background-color:lightgrey;
	font-size: 68px;
}

#remaining {
	height: 100px;
	background-color:lightgrey;
	font-size: 68px;
}
#wins {
	height: 100px;
	background-color:lightgrey;
	font-size: 68px;
}

img {
	height: 100%;
}