@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
	background-color: black;
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
	}
	
main {
	margin: 100px;
}

.title {
	font-size: 72px;
}

h3 {
	margin-top: 30px;
}

.btn {
	margin-left: 220px;
	/* display: none; */
}

#wordBlock {
	font-size: 64px;
	color: white;
	margin-bottom: 30px;
}

#guessed {
	height: 75px;
	background-color: rgb(253, 253, 131);
	font-size: 36px;
	color: black;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 100%;
}

#remaining {
	font-size: 24px;
	color: yellow;
	margin: 20px;
}
#wins {
	font-size: 24px;
	color: yellow;
	margin: 20px;
}

#losses {
	font-size: 24px;
	color:yellow;
	margin: 20px;

}

